<div class="container">
<div class="newWrap">
  <div class="newTitle">
    <h3 class="center-align">お問い合わせ：送信しました</h3>
  </div>
  <div class="newContent">
    <p>お問い合わせありがとうございます。</p>
  </div>
</div>
</div>