@import "materialize/components/color-variables";
$primary-color: color("grey", "darken-3") !default;
$secondary-color: color("grey", "darken-1") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
footer {
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer address {
    color: #313131;
    letter-spacing: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// #site_name {
//     text-align: left;
//     color: #313131;
// }