<nav>
  <div class="nav-wrapper">
      <img src="/logo05.png" alt="Liruu design" width="45" height="auto" hspace="15" vspace="11"/>
  <a href="/admins" class="brand-logo">park gallery</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= yield(:nav) %></li>
      <li><%= yield(:nav02) %></li>
    </ul>
  </div>
</nav>
